<div dir="ltr">
	<div class="gmail_extra">Hi,</div>
	<div class="gmail_extra"><br>
	</div>
	<div class="gmail_extra">Here are the exports for last week:</div>
	<div class="gmail_extra"><br></div>
	<div class="gmail_extra">
		<table cellspacing="0" cellpadding="0" dir="ltr" border="1" style="table-layout:fixed;font-size:13px;font-family:arial,sans,sans-serif;border-collapse:collapse;border:1px solid rgb(204,204,204)">
			<colgroup><col width="100">
				<col width="361"><col width="100"><col width="599">
			</colgroup>
			<tbody>
				<tr style="height:21px">
					<td style="padding:2px 3px;vertical-align:bottom;font-weight:bold">Type</td>
					<td style="padding:2px 3px;vertical-align:bottom;font-weight:bold">Filename</td>
					<td style="padding:2px 3px;vertical-align:bottom;font-weight:bold">File Count</td>
					<td style="padding:2px 3px;vertical-align:bottom;font-weight:bold">Link</td>
				</tr>
				{{#files}}
					<tr style="height:21px"><td style="padding:2px 3px;vertical-align:bottom">{{type}}</td>
						<td style="padding:2px 3px;font-family:arial;vertical-align:bottom">{{filename}}</td>
						<td style="padding:2px 3px;vertical-align:bottom;text-align:right">{{file_count}}</td>
						<td style="padding:2px 3px;vertical-align:bottom;text-decoration:underline;color:rgb(17,85,204)">
							<a class="gmail-in-cell-link" href="{{link}}" target="_blank">{{link}}</a>
						</td>
					</tr>

				{{/files}}
			</tbody>
		</table><br>
	</div>
	<div class="gmail_extra">Let me know if there are any questions:</div>
	<div class="gmail_extra"><br></div><div class="gmail_extra">Cheers,</div>
	<div class="gmail_extra"><br></div><div class="gmail_extra">Gabe</div>
</div>