<!-- {% autoescape false %}{{line}}{% endautoescape %} -->
<xs:simpleType name="{{name}}">
    <xs:restriction base="xs:integer">
        <xs:maxInclusive value="2147483647" />
        <xs:minInclusive value="-2147483648" />
    </xs:restriction>
</xs:simpleType>
