<!-- {% autoescape false %}{{line}}{% endautoescape %} -->
<xs:simpleType name="{{name}}">
    <xs:restriction base="xs:decimal">
        <xs:fractionDigits value="2" />
    </xs:restriction>
</xs:simpleType>
