<!-- {% autoescape false %}{{line}}{% endautoescape %} -->
<xs:simpleType name="{{name}}">
    <xs:restriction base="xs:string">
        <xs:length value="{{length}}"/>
    </xs:restriction>
</xs:simpleType>
