{
    "logging": {
        "replaceConsole": true,
        "appenders": [
            {
                "type": "console",
                "layout": {
                  "type": "json"
                }
            }
        ]
    },
     "meteor":{
                "name":"meteor",
                "mongo_db_host": "localhost",
                "mongo_db_port": 27017				
                "mongo_db_name": "prod_meteor",
				"mongo_db_user": null,  
				"mongo_db_pass": null,			   
    },
    "meteor_ro":{
               "name":"meteor_ro",
               "mongo_db_host": "localhost",
               "mongo_db_port": 27017			   
               "mongo_db_name": "prod_meteor",
			   "mongo_db_user": null,
			   "mongo_db_pass": null,
   },    
    "trans":{
               "name":"trans",
               "mongo_db_name": "prod_trans",
               "mongo_db_host": "localhost",
               "mongo_db_port": 27017
			   "mongo_db_user": null,
			   "mongo_db_pass": null,
   },
   "postgres": {
              "name":"postgres",
              "type": "postgres",
              "db_host": "localhost",
              "db_port": 27017,
              "db_name": "prod_pg",		  
              "db_user": "postgres",
              "db_pass": null
  }
    
}
