{
    "logging": {
        "replaceConsole": true,
        "appenders": [
            {
                "type": "console",
                "layout": {
                  "type": "json"
                }
            }
        ]
    },
     "meteor":{
                "mongo_db_host": "localhost",
                "mongo_db_name": "dev_meteor",
                "mongo_db_port": 27017,
                "name":"meteor"
    }
}
