{
    "database":{
       "mongo_db_host": "localhost",
       "mongo_db_name": "prod_meteor",
       "mongo_db_port": 27017,
       "name":"meteor"
   },
   "api_port": 3000,
   "api_host": "localhost",
   "logging": {
       "replaceConsole": true,
       "appenders": [
           {
               "type": "console",
               "layout": {
                 "type": "json"
               }
           }
       ]
   },
   "accepted_filters": ["circuit_name", "span_name"],
   "corsWhitelist": ["http://dispatchr.com", "http://dispatchr.co", "http://localhost:80"]  
}